body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
  padding: 20px;
}

input, button {
  padding: 10px;
  margin: 5px;
}

li {
  list-style: none;
  background: #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}
